APP_NAME=ProcuFlowAfrica
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=procureflow
DB_USERNAME=procureflow
DB_PASSWORD=

QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

DOHONE_MERCHANT_CODE=
DOHONE_HASH_CODE=
DOHONE_PAYMENT_URL=https://www.my-dohone.com/dohone/pay
DOHONE_NOTIFY_URL=http://localhost:8000/api/v1/payments/dohone/notify
DOHONE_SUCCESS_URL=http://localhost:3000/billing/success
DOHONE_CANCEL_URL=http://localhost:3000/billing/cancel

